/* Mega menu 22h22 04/12/2017 */

ul.nav
    // Mini reset
    div, ul, li, a
        border: 0
        margin: 0
        outline: 0
        padding: 0

    display: flex // cho các tag li nằm ngang
    background: #fff
    border: 3px solid #3d3d3d
    list-style: none
    margin: 0 // xem lại
    
    // Các item 1,2,3,4 ban đầu
    li
        a
            display: block
            background: #f7f7f7
            color: #3d3d3d
            height: 2em
            line-height: 2em
            text-decoration: none
            padding: 10px 20px 10px 20px

        // Grid
        .g
            display: inline-grid
            grid-template-columns: 25% 25% 25% 25% // 4 cột có chiều rộng 25%

            width: 100% // khi hiên thị sẽ chiếm toàn bộ chiều rộng
            background: orange

            transition: all .3s ease .15s // thao tác chuyển cảnh khi hover vào

            position: absolute // nằm cố định so với gốc xOy của màn hình
            top: 100px
            left: 0
            visibility: hidden // mặc định là ẩn

            // Các column trong grid
            .g-c
                h3
                    text-transform: uppercase

                ul
                    list-style: none
                    
                    // Các item 1,2,3,4 trong menu
                    li
                        display: block
            
                        a
                            display: block
                            background: #3d3d3d
                            color: #fff
                            text-decoration: none
                            height: 2em // trick để tag a chiếm toàn bộ thẻ chiều cao tag li
                            line-height: 2em // ---
                            padding: 5px 10px 5px 10px

                            &:hover
                                background: #555
                                color: #fff
            

        &:hover
            a
                background: #636363
                color: #fff

            .g
                visibility: visible // hiển thị khi hover
    

