/* Mega menu 22h22 04/12/2017 */
/* line 3, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav {
  display: flex;
  background: #fff;
  border: 3px solid #3d3d3d;
  list-style: none;
  margin: 0;
}

/* line 5, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav div, ul.nav ul, ul.nav li, ul.nav a {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

/* line 19, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li a {
  display: block;
  background: #f7f7f7;
  color: #3d3d3d;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

/* line 29, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  background: orange;
  transition: all .3s ease .15s;
  position: absolute;
  top: 100px;
  left: 0;
  visibility: hidden;
}

/* line 45, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g .g-c h3 {
  text-transform: uppercase;
}

/* line 48, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g .g-c ul {
  list-style: none;
}

/* line 52, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g .g-c ul li {
  display: block;
}

/* line 55, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g .g-c ul li a {
  display: block;
  background: #3d3d3d;
  color: #fff;
  text-decoration: none;
  height: 2em;
  line-height: 2em;
  padding: 5px 10px 5px 10px;
}

/* line 64, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li .g .g-c ul li a:hover {
  background: #555;
  color: #fff;
}

/* line 70, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li:hover a {
  background: #636363;
  color: #fff;
}

/* line 74, /home/hiddendev/Desktop/Mega menu testing/sass/_nav.sass */
ul.nav li:hover .g {
  visibility: visible;
}

/*# sourceMappingURL=../main.map */